<div class="title">
    <h1>{{ survey?.title }}</h1>
</div>

<div style="display: flex; height: 90%;">
    <div class="list" style="width: 7%">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let question of survey?.questions; index as index"
                [class.active]="index == currentQuestionId" (click)="changeQuestion(index)">
                {{ index+1 }}
            </mat-list-item>
        </mat-list>
    </div>
    <div style="padding: 5%; background: aliceblue; width: 93%;">
        <app-question [question]="currentQuestion"></app-question>
    </div>
</div>