<h1>{{ question?.title }}</h1>

<textarea *ngIf="isTextType" cols="30" rows="10" [(ngModel)]="textAnswer" (input)="setTextValue()"></textarea>

<div *ngIf="isRadioType">
    <mat-radio-group class="section">
        <mat-radio-button class="option-button" *ngFor="let option of options" [value]="option"
            (change)="setRadioValue($event)">
            {{ option }}
        </mat-radio-button>
    </mat-radio-group>
</div>

<div *ngIf="isCheckboxType" class="section">
    <mat-checkbox class="option-button" *ngFor="let option of options" (change)="setCheckboxValue($event, option)">
        {{ option }}
    </mat-checkbox>
</div>